@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .wrapper .carousel {
        grid-auto-columns: calc((100% / 4) - 12px);
    }    
    .carousel.dragging {
        scroll-snap-type: none;
        scroll-behavior: auto;
    }

    .circle-border {
        position: relative;
    }
    .circle-border::after {
        position: absolute;
        content: "";
        top: -3px;
        left: -3px;
        width: 26px;
        height: 26px;
        border-radius: 50%;
        border: 1px solid rgb(23, 23, 23) ;
    }

    .light-bg {
        background: linear-gradient(rgb(203, 213, 225) 0%, rgb(244, 245, 245) 70%);
    }
    .dark-bg {
        background: linear-gradient(rgba(30,41,56,1) 0%, rgba(71,87,110,1) 100%);
    }

    @media screen and (max-width: 1280px) { /* xl */
        .wrapper .carousel {
             grid-auto-columns: calc((100% / 3) - 9px);
        }
    }
    @media screen and (max-width: 1024px) { /* lg */
        .wrapper .carousel {
             grid-auto-columns: calc((100% / 2) - 9px);
        }
    }
    @media screen and (max-width: 768px) { /* md */ 
        .wrapper .carousel {
             grid-auto-columns: 100%;
        }
    }
}

@font-face { 
    font-family: "avenir"; 
    src: url("./Assets/Fonts/Avenir-Book.ttf"); 
} 

@font-face { 
    font-family: "montserrat"; 
    src: url("./Assets/Fonts/Montserrat-Medium.ttf"); 
}

/* width */
::-webkit-scrollbar {
    height: 13px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background: linear-gradient(180deg, rgba(150,150,150,1) 0%, rgba(236,236,236,1) 56%, rgba(224,224,224,1) 72%, rgba(195,195,195,1) 100%);
    border-radius: 25px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #6b6b6b;
    border-radius: 25px;
}
 
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #828282;
}